#define SECRET_SSID      "nombre_de_tu_wifi"
#define SECRET_PASS      "contraseña_wifi"
#define SECRET_MQTT_HOST "IP_de_tu_PC"
#define SECRET_DEVICE_ID "ESP32-001"
#define SECRET_MQTT_USER "esp32-001"
#define SECRET_MQTT_PASS "tu_contraseña_esp32"#define SECRET_SETUP_AP_PASS "cambiar-por-una-clave-unica"
